@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,800,900&display=swap');
*

.body {
    padding: 40px;
    padding-bottom: 40px;
  }

  .example::-webkit-scrollbar {
    display: none;
  }

.column {
    float: left;
    width: 33.33%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.cardpad {
    padding: 20px;
}

.cardimg {
    float: left;
    width:  600px;
    height: 400px;
    object-fit: cover;
}

.newtext {
    color: black;
}

/* .carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
} */




.langimg:hover {
    opacity: 0.3;
    transition: 0.2s;
}

.mt-auto{
  width: 100px;
  align-self: center;
}

.card-title{
  font-size: large;
}

.newtext {
  font-size: x-large;
}

.firstpic{
  color: white;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

.secondpic{
  color: white;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

.thirdpic{
  color: white;	
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;			
}

.carpic {
  width: auto;
  height: 800px;
  border-radius: 50px;
}

.carousel{
  padding-bottom: 40px;
}



#thumbs {   
  text-align:center;
  /* border: 1px solid #666; */

}


.langimg {
  width:  175px;
  height: 175px;
  border-radius: 40px;
  display:inline-block;
  margin:5px 20px;
  padding:5px;

}

.topimg {
  width: 100%;
  z-index: 0;
}



.videoSection {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -100;
}


video {
  object-fit: contain;
}

.aboutme {
  font-size: 20px;
  text-align: center;
}

.mediabutton {
  text-align: center;
  color: black;
  align-items: center;

}

.grey {
  color: gray;
  text-align: center;
  align-items: center;
  padding-left: 3.5px;
}

.gradient {
  background-image: linear-gradient(white, #edf4f8);
}



h1 {
  text-align: left;
  font-weight: 900;
  margin-left: 500px;
  font-family: Helvetica;
}

.bottom {
  margin-bottom: 100px;
}

.overlay {
    position:absolute;
    top:100px;
    left:100px;
    z-index:1;
}

.cardpic {
  height: 100px;
  width: 100px;
}






























.container {
  position: relative;
  padding: 40px;
}

.container .card {
  position: relative;
  width: 490px;
  height: 600px;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
}

.container .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: '';
  position: absolute;
  top: 80%;
  left: -5%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}

.container .card .imgBx {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 600px;
  height: 400px;
  transition: 0.5s; 
}

.container .card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.container .card .imgBx img {
  position: absolute;
  /* top: 20px; */
  /* left: 0%; */
  transform: translate(-59.5%, -40%) ;
  width:  600px;
  height: 400px;
  object-fit: cover;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx {
  height: 260px;

}

.container .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: black ;
  margin-bottom: 100px;
  transition: 0.5s;
}

.container .card:hover .contentBx h2 {
  margin-bottom: 10px;
  transition: 0.5s;
}

.container .card .contentBx .size {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
}

.container .card .contentBx .description span {
  width: 450px;
  height: auto;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: black;
  margin: 0 0px;
  transition: 0.5s;
}

.container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #1CBCF9;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #FFFFFF;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.5s;
}

.header2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 1200;
  text-transform: uppercase;
  font-size: 60px;
}


.header3 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 40px;
}


.videotext {
  top: 35%;
  left: 20%;
  text-align: center;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: white;

}






